@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #7A73D2;
    color: rgb(117, 54, 25);
}

body h1{
    color: #f4f4f4;
    font-family: 'Cookie', cursive;
    font-size: 58px;
    font-weight: 400;
    margin: 32px 0 0 0;
}

body p{
    color: #E4E4E4;
}

.select-usuarios{
    width: 400px;
    margin-bottom: 40px;
}

table{
    border: 2px solid #753619;
}

th, td{
    padding: 10px;
    text-align: center;
}

thead{
    background-color: rgb(212, 155, 129);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 58px 0;
    background-color: white;
    width: 100%;
    border-radius: 52px 52px 0 0;
}

.container p{
    text-align: center;
    color: #220969;
}

.text-container{
    position: relative;
}

.text-container .text{
    position: absolute;
    top: 20px;
    right: 50px;
    left: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 600;
}

.game{
    display: flex;
    flex-direction: column;
}

.game textarea.campo-digitacao{
    width: 700px;
    margin-bottom: 10px;
}

textarea{
    border: 2px solid #7A73D2;
    border-radius: 12px;
    padding: 12px;
}

textarea:focus{
    outline: none !important;
}

.campo-correto{
    border: 2px solid green;
}

.campo-errado{
    border: 2px solid red;
}

.game textarea:disabled{
    background-color: rgb(209, 209, 209);
}

.botao-remover{
    text-decoration: none;
}

.placar{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#erro{
    display: none;
}

#spinner{
    display: none;
}

