@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: bisque;
    color: rgb(117, 54, 25);
}

table{
    border: 2px solid #753619;
}

th, td{
    padding: 10px;
    text-align: center;
}

thead{
    background-color: rgb(212, 155, 129);
}

.container h1, p{
    text-align: center;
}

.game{
    display: flex;
    flex-direction: column;
}

.game textarea.campo-digitacao{
    width: 700px;
    margin-bottom: 10px;
}

textarea:focus{
    outline: none !important;
}

.campo-correto{
    border: 2px solid green;
}

.campo-errado{
    border: 2px solid red;
}

.game textarea:disabled{
    background-color: rgb(209, 209, 209);
}

.botao-remover{
    text-decoration: none;
}

.placar{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

